<ion-view view-title='优恪'>



    <div class="bar bar-header bar-stable">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()"></a>
        <h1 class="title">优恪</h1>
    </div>

    <ion-content id="bb">
        <ion-slide-box>
            <ion-slide>
                <div class="frist">
                    <ul class="bg">
                        <li ng-repeat="g in grr | limitTo:5">
                            <p ng-click='dianji(g.id)'> {{g.title}}</p>
                        </li>
                    </ul>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="frist">
                    <ul class="bg">
                        <li ng-repeat="g in grr | limitTo:3:5">
                            <p ng-click='dianji(g.id)'>{{g.title}}</p>
                        </li>
                    </ul>
                </div>
            </ion-slide>
        </ion-slide-box>
        <ul class="bp">
            <li ng-repeat="j in jrr">
                <img ng-src="{{j.pic_uri}}" alt="">
                <p>{{j.name}}</p>
                <p>{{j.like_count}}人喜欢</p>
            </li>
        </ul>
    </ion-content>
</ion-view>
<style scoped>
    #bb {
        margin-top: 44px;
    }
    
    .bg {
        width: 100%;
        height: 20px;
    }
    
    .frist {
        border-bottom: 1px solid #ccc;
        height: 28px;
        line-height: 28px;
    }
    
    .bg li {
        width: 15%;
        margin-left: 3%;
        float: left;
        font-size: 14px;
        text-align: center;
        color: #666;
    }
    
    .bg {
        width: 100%;
        margin-left: 3%;
    }
    
    .bg li {
        float: left;
        width: 15%;
    }
    
    .slider-pager .slider-pager-page {
        display: none;
    }
    
    .bp {
        text-align: center;
    }
    
    .bp li {
        width: 50%;
        height: 250px;
        float: left;
        border: 1px solid whitesmoke;
    }
    
    .bp img {
        width: 150px;
        height: 150px;
    }
</style>